extends layout

block content
  h1= name
  
  ul
    each product in product_list
      li 
        a(href=product.url) #{product.name} 
        |  (#{product.vendor.name})

    else
      li There are no products.